<div class="checkout-page">
  <div class="checkout-container wide">
    <h1>Checkout</h1>

    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= form_with url: confirm_payment_path, method: :post, local: true, html: { class: "checkout-form" } do |form| %>
      <div class="form-group">
        <%= form.label :card_number, "Card Number" %>
        <%= form.text_field :card_number, class: "form-control", placeholder: "1234 5678 9012 3456" %>
      </div>

      <div class="row">
        <div class="col-md-6 form-group">
          <%= form.label :expiration, "Expiration (MM/YY)" %>
          <%= form.text_field :expiration, class: "form-control", placeholder: "09/26" %>
        </div>

        <div class="col-md-6 form-group">
          <%= form.label :cvv, "CVV" %>
          <%= form.text_field :cvv, class: "form-control", placeholder: "123" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.submit "Confirm Payment", class: "btn-submit" %>
      </div>
    <% end %>
  </div>
</div>
