<div class="page-background">
  <div class="booking-container">
    <h1>Boooking "<%= @videogame.name %>"</h1>

    <%= form_with(model: [@videogame, @booking], local: true) do |form| %>
      <div class="form-group">
        <%= form.label :start_time, "Start Date" %>
        <%= form.date_field :start_time, class: "form-control", min: Date.today %>
      </div>

      <div class="form-group">
        <%= form.label :end_time, "End Date" %>
        <%= form.date_field :end_time, class: "form-control", min: Date.today %>
      </div>

      <div class="form-actions">
        <%= form.submit "Confirm Rental", class: "btn-submit" %>
      </div>
    <% end %>

    <div class="form-actions">
      <%= link_to "Cancel", videogame_path(@videogame), class: "btn-cancel" %>
    </div>
  </div>
</div>
