<link href="https://fonts.googleapis.com/css2?family=Jersey+25&family=Press+Start+2P&display=swap" rel="stylesheet">
<nav class="navbar-lewagon navbar navbar-expand-lg">
  <div class="container-fluid">
    <%= link_to videogames_path, class: "navbar-brand d-flex align-items-center body" do %>
      <%= image_tag asset_path("gamevault_logo.png"), alt: "GameVault logo", class: "navbar-logo" %>
      <span class="ms-2">GameVault</span>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse body" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Games", videogames_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Bookings", bookings_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Add a Game", new_videogame_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Games", my_videogames_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Contact us", contact_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to checkout_path, class: "nav-link d-flex align-items-center position-relative" do %>
              <span class="d-inline-flex align-items-center" style="height: 100%;">
                <svg xmlns="http://www.w3.org/2000/svg" class="checkout-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-1.35 6.72A1 1 0 007.6 21h8.8a1 1 0 001-1.28L17 13M9 21h6" />
                </svg>
              </span>

              <% cart_count = current_user.bookings.where(status: ["accepted", "unpaid"]).count %>
              <% if cart_count > 0 %>
                <span class="cart-badge">
                  <%= cart_count %>
                </span>
              <% end %>
            <% end %> <!-- 👈 fermeture du link_to -->
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "avatar.png", class: "avatar", alt: "dropdown menu" %>
            </a>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My Profile", edit_profile_path, class: "dropdown-item" %>
              <%= link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
