<div class="show-container">
  <div class="show-image">
    <img src="<%= @videogame.background_image %>" alt="<%= @videogame.name %>">
  </div>

  <div class="show-info">
    <h1><%= @videogame.name %></h1>
    <p><strong>Category :</strong> <%= @videogame.category %></p>
    <p><strong>Plateforme :</strong> <%= @videogame.platform %></p>
    <p><strong>Rating :</strong> <%= @videogame.rating %>/10</p>
    <p><strong>Price :</strong> <%= number_to_currency(@videogame.price, unit: "$") %></p>
    <p><%= simple_format(@videogame.description) %></p>

    <div class="actions">
      <%= link_to 'Rent this game', new_videogame_booking_path(@videogame), class: "rent-button" %>
      <%= link_to 'Back to the list', videogames_path, class: "back-button" %>
    </div>

    <% if current_user == @videogame.owner %>
      <div class="actions">
        <%= form_with model: @videogame, method: :delete, local: true do |form| %>
          <%= form.submit "Delete this game", class: "delete-game-button" %>
        <% end %>
      </div>
    <% end %>




    <% if @videogame.bookings.any? %>
      <div class="bookings-list">
        <h3>Already booked dates:</h3>
        <ul>
          <% @videogame.bookings.each do |booking| %>
            <li>Du <%= l(booking.start_time, format: :long) %> to <%= l(booking.end_time, format: :long) %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  </div>
</div>
