<div class="show-container">
  <div class="show-image">
    <% if @videogame.photo.attached? %>
      <%= image_tag @videogame.photo, alt: @videogame.name %>
    <% elsif @videogame.background_image.present? %>
      <%= image_tag @videogame.background_image, alt: @videogame.name %>
    <% end %>
  </div>

  <div class="show-info">
    <h1><%= @videogame.name %></h1>
    <p><strong>Category:</strong> <%= @videogame.category %></p>
    <p><strong>Platforme:</strong> <%= @videogame.platform %></p>
    <p><strong>Rating:</strong> <%= @videogame.rating %>/5</p>
    <p><strong>Price:</strong> <%= number_to_currency(@videogame.price, unit: "$") %></p>

    <div id="description-container">
      <div id="short-description" class="description">
        <%= truncate(strip_tags(@videogame.description), length: 300, separator: ' ', omission: '...') %>
      </div>

      <div id="full-description" class="description">
        <%= simple_format(@videogame.description) %>
      </div>

      <button id="toggle-description" class="toggle-button">Show more</button>
    </div>

    <% if user_signed_in? %>
      <% if @videogame.owner == current_user %>
        <div class="actions">
          <%= link_to 'Update this game', edit_videogame_path(@videogame), class: "buttonfilter update-game-button" %>
        </div>
        <div class="actions">
          <%= form_with model: @videogame, method: :delete, local: true do |form| %>
            <%= form.submit "Delete this game", class: "delete-game-button" %>
          <% end %>
        </div>
      <% else %>
        <div class="actions">
          <%= link_to 'Rent this game', new_videogame_booking_path(@videogame), class: "rent-button" %>
          <%= link_to 'Back to the list', videogames_path, class: "back-button" %>
        </div>
      <% end %>
    <% else %>
      <div class="actions">
        <%= link_to 'Sign in to rent', new_user_session_path, class: "rent-button" %>
      </div>
    <% end %>

    <% if current_user %>
      <% user_bookings = @videogame.bookings.where(user: current_user) %>
      <% if user_bookings.any? %>
        <div class="bookings-list">
          <h3>Your booked dates:</h3>
          <ul>
            <% user_bookings.each do |booking| %>
              <li>From <%= l(booking.start_time, format: :long) %> to <%= l(booking.end_time, format: :long) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
